[submodule "AreaOfCircle"]
    path = AreaOfCircle
    url = https://github.com/alfiyamvl/SwiftForKids/AreaOfCircle.git

[submodule "CalculatorLight"]
    path = CalculatorLight
    url = https://github.com/alfiyamvl/SwiftForKids/CalculatorLight.git



    [submodule "EvenOrOddNumber"]
    path = EvenOrOddNumber
    url = https://github.com/alfiyamvl/SwiftForKids/EvenOrOddNumber.git



    [submodule "RectangleAreaCalculator"]
    path = RectangleAreaCalculator
    url = https://github.com/alfiyamvl/SwiftForKids/RectangleAreaCalculator.git



    [submodule "TaskWithBool"]
    path = TaskWithBool
    url = https://github.com/alfiyamvl/SwiftForKids/TaskWithBool.git


    [submodule "TemperatureConverter"]
    path = TemperatureConverter
    url = https://github.com/alfiyamvl/SwiftForKids/TemperatureConverter.git


    [submodule "TypeConversion"]
    path = TypeConversion
    url = https://github.com/alfiyamvl/SwiftForKids/TypeConversion.git


    [submodule "WorkWithStrings"]
    path = WorkWithStrings
    url = https://github.com/alfiyamvl/SwiftForKids/WorkWithStrings.git
